.bannerContainer {
    /* width: 100px;
    height: 100px; */
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.bannerInput {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--textClr);
    border-radius: 10px;
    background-color: var(--primaryClr);
    cursor: pointer;
}

.bannerContainer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bannerContainer label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
}

.bannerContainer label .uploadIcon {
    width: 100px;
    height: 100px;
    cursor: pointer;
}