.headerContainer {
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    background-color: var(--secondryClr);
    padding: 16px 64px;
    font-size: 14px;
    border-bottom: 1px solid var(--customBorder);
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.logo {
    font-size: var(--logo);
}

.mobileLogo {
    display: none;
}

.mainNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.mainNav ul li {
    list-style: none;
    cursor: pointer;
}

.link {
    color: var(--textClr);
    text-decoration: none;
    padding: 8px 16px;
    transition: var(--transition);
    cursor: pointer;
}

.link:hover {
    background-color: var(--tertiaryClr);
    border-radius: 4px;
}

.topNavIcons {
    font-size: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 4px;
}

.topNavIcons:hover {
    transform: scale(1.1);
}


.topNavIconsContainer {
    display: flex;
    align-items: center;
    gap: 1em;
}

.cartContainer {
    position: relative;
}

.cartCounter {
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.6);
    top: -8px;
    right: -8px
}

.hamburgerIcon {
    display: none;
}

/* -------bottom navbar styling------ */

.bottomNav {
    width: 100%;
    overflow-x: auto;
}

.bottomNav::-webkit-scrollbar {
    display: none;
}

.bottomNav ul {
    width: 1200px;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.bottomNav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: var(--transition);
}

.bottomNav ul li:hover {
    background-color: var(--tertiaryClr);
    border-radius: 4px;

}

/* media queries */
@media screen and (max-width:1024px) {
    .headerContainer {
        padding: 16px 32px;
    }

    .desktopLogo {
        display: none;
    }

    .mobileLogo {
        display: block;
    }

    .mainNav {
        display: none;
    }

    .hamburgerIcon {
        display: block;
    }

    .bellIcon {
        display: none;
    }

    .bottomNav {
        display: none !important;
    }
}

@media screen and (max-width:658px) {
    .headerContainer {
        padding: 1em;
    }

    .topHeader {
        gap: 1em;
    }

    .topNavIconsContainer {
        gap: 1em;
    }

    .topNavIcons {
        font-size: 20px;
    }

}

/* sub categories container */

.subCategoriesContainer {
    width: 100%;
    height: 400px;
    background: var(--secondryClr);
    border: 1px solid var(--customBorder);
    display: flex;
    font-size: 14px;

    display: flex;
    position: absolute;
    z-index: 2332;
    top: 123px;
    border-top: 0px;
    transition: .2s;
    overflow: hidden;
}

.subCategories {
    width: 360px;
    height: 400px;
    border-right: 1px solid var(--customBorder);
    display: flex;
    flex-direction: column;
}


.categoryHeading {
    font-weight: 600;
    cursor: pointer;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoryHeading:hover .arrowIcons {
    transform: translateX(0px);
}

.arrowIcons {
    font-size: 16px;
    transform: translateX(-10px);
    transition: var(--transition);
}

.singleSubCategory {
    cursor: pointer;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singleSubCategory:hover .arrowIcons {
    transform: translateX(0px);
}

.singleSubCategory:hover {
    background-color: var(--tertiaryClr);
}

.subHeadingTitle {
    padding: 16px 0px;
    font-size: 16px;
    font-weight: 600;
}

.innerPromptLinksContainer {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.innerPromptLink {
    padding: 6px 0px;
    cursor: pointer;
    margin-bottom: 4px;
    width: fit-content;
    border-bottom: 1px solid;
    border-color: transparent;
}

.innerPromptLink:hover {
    border-bottom: 1px solid var(--textClr);
}