.detail {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 12px 0px 16px 16px;
    border-bottom: 1px solid var(--customBorder);
}

.contact {
    display: flex;
    flex-direction: column;
    color: var(--textClr);
    opacity: .8;
    font-size: 14px;
    gap: 4px;
}

.detail li {
    flex: 1;
    text-align: left;
    list-style: none;
    color: var(--homeTertiaryClr);
}

.detail li:last-child {
    flex: .6;
    text-align: center;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.updateIcon,
.deleteIcon {
    position: relative;
    cursor: pointer;
    transition: .3s;
    display: block;
    color: var(--homeMainBtn);
}

.updateIcon::before {
    content: 'Active/Deactive';
    position: absolute;
    background: var(--buttonGradient);
    padding: 4px;
    color: var(--textClr);
    top: -24px;
    left: -76px;
    font-size: 12px;
    border-radius: 4px;
    transform: scale(0);
    transition: .3s;
}

.deleteIcon::before {
    content: 'Delete';
    position: absolute;
    background: var(--buttonGradient);
    padding: 4px;
    color: var(--textClr);
    top: -24px;
    left: -30px;
    font-size: 12px;
    border-radius: 4px;
    transform: scale(0);
    transition: .3s;
}

.updateIcon:hover::before,
.deleteIcon:hover::before {
    transform: scale(1);
}

.updateIcon:hover {
    color: rgb(0, 132, 255);
}

.deleteIcon:hover {
    color: rgb(255, 60, 0);
}