.svgContainer{
    width: 232px;
    height: auto;
}
@media screen and (max-width:1024px) {
    .svgContainer{
        width: 200px;
    }
}
@media screen and (max-width:768px) {
    .svgContainer{
        width: 180px;
    }
}