.singleFilterContainer {
    display: flex;
    gap: 8px;
    background: var(--homePrimaryClr);
    color: var(--homeTertiaryClr);
    padding: 8px 16px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin: 1em 0em;
    font-size: 14px;
}

.line {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 2px;
    background: var(--textClr);
    transition: var(--transition);
}

.singleFilterContainer>* {
    cursor: pointer;
}

/* input box styling */
.inputBox {
    position: relative;
}

.inputBox::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--textClr);
    border: 1px solid var(--homeMainBtn);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
}

.inputBox::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) rotate(-56deg);
    border-left: 2px solid;
    border-bottom: 2px solid;
    opacity: 0;
    transition: .3s;
    border-color: white;
}

.inputBox:checked::before {
    background: var(--homeMainBtn);
}

.inputBox:checked::after {
    width: 9px;
    height: 4px;
    opacity: 1;
}