.textInput {
    padding: 8px;
    border-radius: 4px;
    background: var(--homePrimaryClr);
    width: 100%;
    border: 2px solid var(--homeMainBtn);
    color: var(--homeTertiaryClr);
    caret-color: var(--textClr);
    outline: none;
    resize: vertical;
}

.textInput:focus {
    outline: 2px solid var(--homeMainBtn);
}

.textInput::placeholder {
    color: var(--homeTertiaryClr);
    opacity: .6;
}

@media screen and (max-width:792px) {
    .textInput {
        width: 100%;
    }
}