.scrollBtn {
    width: 40px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #114809;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    font-size: 28px;
    color: white;
    animation: arrowAnimate 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes arrowAnimate {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }

}

@media screen and (max-width:658px) {
    .scrollBtn {
        transform: scale(.8);
        right: 8px;
        bottom: 8px;
    }
}