.sliderContainer {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1em;
}

.sliderImage {
    width: 100%;
    /* height: 150%; */
    height: 700px;
    position: absolute;
    top: -180px;
    left: 0px;

}

.content {
    position: absolute;
    z-index: 500;
    bottom: 24px;
    left: 24px;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.subHeading {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 8px;
}

.highligtedText {
    font-size: 1.5rem;
    background: linear-gradient(122deg, #f17b85, #f79393 15%, #fee4a5 45%, #9ae8b0 65%, #5ba5d0 90%, #9078d0);
    font-weight: 600;
    background-clip: text;
    color: transparent;
}

.buttonContainer {
    display: flex;
    gap: 1em;
    margin-top: 16px;
}

@media screen and (max-width:658px) {
    .heading {
        font-size: 32px;
    }

    .subHeading {
        font-size: 20px;
    }

    .highligtedText {
        font-size: 18px;
        font-weight: 600;
    }
}

@media screen and (max-width:420px) {
    .buttonContainer {
        flex-direction: column;
    }
}