.parentContainer {
    border: 1px solid var(--homeMainBtn);
    border-radius: 4px;
    display: flex;
    padding: 0px 18px;
    gap: 20px;

}

.inputTextContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.placeholderCover {
    position: absolute;
    left: 0;
    width: 300px;
    background: linear-gradient(to right, #cbffcb, #73f073, #cbffcb);
    height: 100%;
    transition: .2s;
    z-index: 3;
    transform-origin: right;
}

.input {
    border: none;
    outline: none;
    color: var(--homeTertiaryClr);
    width: 100%;
}

.input::placeholder {
    color: var(--homeTertiaryClr);
    opacity: .5;
}

.dropdownContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    z-index: 2342342;
}

.selectedText {
    color: var(--homeTertiaryClr);
}

.cheveron {
    transition: .3s;
}

.dropdown {
    display: flex;
    flex-direction: column;
    background: var(--homePrimaryClr);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: absolute;
    top: 36px;
    overflow: hidden;
    border-radius: 4px;
    left: -18px;
    min-width: 200px;
    transform-origin: top left;
    transition: .3s;
}

.dropdown li {
    text-decoration: none;
    list-style: none;
    padding: 8px 16px;
    cursor: pointer;
    color: var(--homeTertiaryClr);
}

.dropdown li:hover {
    color: var(--homeTertiaryClr);
    background: var(--homeCardBorder);
}

@media screen and (max-width:500px) {
    .parentContainer {
        border: 1px solid var(--homeMainBtn);
        border-radius: 4px;
        display: flex;
        padding: 0px 4px;
        gap: 4px;
    }
}