.cardContainer {
    width: 100%;
    background: var(--tertiaryClr);
    padding: 20px;
    color: var(--textClr);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    border-bottom: 6px solid var(--customBorder);
    transition: .7s linear;
}

.cardContainer:hover {
    transform: translateY(-2px);
    border-block-color: var(--timeClr);
}

.cardContainer .h2 {
    font-size: 20px;
    font-weight: 600;
}

.content {
    font-size: 14px;
}