.input {
    background: var(--tertiaryClr);
    outline: none;
    border: none;
    color: white;
    padding: 8px;
    margin: 0px 4px;
    border-radius: 8px;
}

.input::placeholder {
    color: var(--textClr);
    opacity: .7;
}

.input:focus {
    outline: 3px solid var(--activeClr);
}