.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.inputField {
    background: var(--homePrimaryClr);
    border: none;
    outline: none;
    color: var(--homeTertiaryClr);
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    border: 2px solid var(--homeMainBtn);
}

.inputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #44C151;
    cursor: pointer;
}

.error {
    color: red;
}

.inputField:focus {
    outline: 2px solid var(--homeMainBtn);
}

.inputField::placeholder {
    color: var(--homeTertiaryClr);
    opacity: .6;
}