.container {
    width: 800px;
    margin: 32px auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.h1 {
    font-size: 24px;
    font-weight: 600;
}

.imageUploader {
    border-radius: 8px;
    overflow: hidden;
}

@media screen and (max-width:900px) {
    .container {
        width: calc(100% - 64px);
        margin: 32px auto;
    }
}

@media screen and (max-width:658px) {
    .container {
        width: calc(100% - 32px);
        margin: 16px auto;
    }
}