.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.inputContainer input {
    width: 100%;
    /* min-width: 400px; */
    padding: 12px 48px 12px 12px;
    background-color: var(--tertiaryClr);
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--textClr);
    font-weight: bold;
}

.inputContainer input::placeholder {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.342);
}

.searchIcon {
    position: absolute;
    right: 10px;
    font-size: 24px;
    font-weight: 800px;
}