.mainContainer {
    width: 100%;
    background: var(--homePrimaryClr);
}

.liteContainer {
    background: var(--homeTertiaryClr);
    color: var(--homePriamryClr);
    padding: 36px 48px 16px;
    width: calc(100% - 2 * var(--mainPadding));
    margin: auto;
    border-radius: 8px;
    margin-bottom: 24px;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 8px;
}

.innerContainer img {
    width: 159px;
    height: auto;
}

.hyperlinksContainer {
    display: flex;
    gap: 90px;
}

.hyperlinksContainer .section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section li {
    list-style: none;
}

.section li a {
    color: var(--homePrimaryClr);
    text-decoration: none;
}

/* copyright section */
.copyrightSection {
    width: 100%;
    position: relative;

}

.middleSection {
    width: 200px;
    margin: auto;
    text-align: center;
}

.footerTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
}

.copyright {
    font-size: 14px;
    font-weight: 400;
}

.termsSection {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.termsSection li {
    list-style: none;
}

.termsSection li a {
    list-style: none;
    color: var(--homePrimaryClr);
    text-decoration: none;
}

/* media queries */
@media screen and (max-width:1024px) {
    .liteContainer {
        width: 100%;
        border-radius: 0px;
    }

    .termsSection {
        top: -80px;
        right: 0px;
    }

    .termsSection::before {
        position: absolute;
        content: '';
        top: 50%;
        left: -42px;
        width: 2px;
        transform: translate(0%, -50%);
        height: 56px;
        background: var(--homePrimaryClr);
    }
}

@media screen and (max-width:772px) {
    .liteContainer {
        padding: 16px;
    }

    .termsSection {
        flex-direction: column;
        gap: 8px;
        top: -96px;
        text-align: left;
        align-items: baseline;
    }

    .hyperlinksContainer {
        gap: 48px;
    }
}

@media screen and (max-width:576px) {
    .innerContainer {
        padding: 0px;
    }

    .termsSection {
        top: 0px;
        left: 0px;
    }

    .termsSection::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0px;
        width: 48px;
        transform: translate(0%, -50%);
        height: 2px;
        background: var(--homePrimaryClr);
    }

    .termsSection {
        flex-direction: row;
    }

    .termsSection::before {
        top: -10px;
        left: 0px;
        width: 204px;
        height: 2px;
    }

    .copyrightSection {
        padding-top: 12px;
    }

    .footerTitle {
        padding-bottom: 4px;
    }

    .hyperlinksContainer {
        gap: 48px;
        flex-direction: column;
        gap: 24px;
        /* align-items: center;
        text-align: center; */
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .termsSection {
        transform: rotate(90deg);
        top: -257px;
        left: 0px;
        transform-origin: left;
        display: none;
    }
}