.parentContainer {
    width: 50%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--homeTertiaryClr);
}

.heading {
    font-size: 24px;
    font-weight: 600;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.select {
    background-color: var(--tertiaryClr);
    width: 150px;
    border-radius: 4px;
    margin: 4px 0px 16px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    color: var(--textClr);
}

.uploadImage {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 16px;
    cursor: pointer;
    vertical-align: top;
    margin: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:658px) {
    .parentContainer {
        min-width: 100%;
    }
}