.imgParentContainer {
    width: 100%;
}

.ImageContainer {
    width: 100%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.imageInput {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid var(--homeMainBtn);
    border-radius: 10px;
    background: var(--homePrimaryClr);
    cursor: pointer;
}

.imageInput::before {
    position: absolute;
    content: '+';
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    background: var(--homePrimaryClr);
    color: var(--homeMainBtn);
}

.outputImgContainer {
    width: 80%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.outputImgContainer img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.singleImgContainer {
    position: relative;
}

.cancel {
    position: absolute;
    top: -6px;
    right: -8px;
    color: var(--textClr);
    transform: rotate(45deg);
    font-size: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: var(--buttonGradient);
    padding: 4px;
    cursor: pointer;
}