.button {
    background: transparent;
    width: 180px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: all 1s;
}

.button:hover {
    background: var(--buttonGradient);
}

.icon {
    font-size: 18px;
}