.button {
    background: transparent;
    width: 180px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: var(--homePrimaryClr);
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: var(--homePrimaryClr);
    color: var(--homeTertiaryClr);
}

.icon {
    font-size: 18px;
    display: flex;
    align-items: center;
}