.mainContainer {
    margin: 100px 0px;
    color: var(--homeTertiaryClr);
}

.topSection {
    gap: 100px;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 900px;
    padding: 0px var(--mainPadding);
}

.header h1 {
    font-family: var(--primaryFont);
    font-size: 48px;
    font-weight: bold;
}

.header p {
    font-size: 16px;
}

.headerBtn {
    width: 228px;
    height: 48px;
}

/* cardContainer for show all prompts section  */

.promptsSection {
    background: var(--backgroundClr);
    padding: 32px var(--mainPadding);
    display: flex;
    gap: 100px;
    overflow: auto;
}

.promptsSection::-webkit-scrollbar {
    display: none;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 16px;
}

.adaptive {
    flex: 1;
}


@media screen and (max-width:1412px) {

    .cardContainer {
        width: 1330px;
        overflow: hidden;
    }
}


@media screen and (max-width:768px) {
    .promptsSection {
        padding: 16px;
    }
}


/* ............................  */

/* cards section */
.cardsSection {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cardsContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.cardsContainer div {
    /* width: 288px;
    height: 288px; */
}

.buttonContainer {
    min-width: 228px !important;
    height: 48px !important;
    margin: auto;
}

.message a {
    color: var(--homeTertiaryClr);
}

@media screen and (max-width:1024px) {
    .topSection {
        gap: 64px;
        display: flex;
        flex-direction: column;

    }

    .mainContainer {
        margin: 72px 0px;
    }

    .header {
        max-width: 650px;
    }

    .header h1 {
        font-size: 36px;

    }
}

@media screen and (max-width:768px) {
    .header {
        padding: 0px 24px;
    }
}

@media screen and (max-width:780px) {
    .mainContainer {
        margin: 24px 0px;
    }

    .header {
        max-width: 100%;
    }

    .header h1 {
        font-size: 28px;
        /* text-align: center; */
    }

    .header p {
        /* text-align: center; */
    }

    .topSection {
        gap: 56px;
    }
}




@media screen and (max-width:690px) {
    .cardsContainer div {
        width: 100%;
        height: max-content;
    }
}

@media screen and (max-width:500px) {
    .mainContainer {
        padding: 12px;
    }
}

@media screen and (max-width:425px) {
    .mainContainer {
        margin: 12px 0px;
    }

    .topSection {
        gap: 40px;
    }

    .header {
        max-width: 100%;
        gap: 12px;
        padding: 0px;
    }

    .header h1 {
        font-size: 24px;
        text-align: center;
    }

    .header p {
        text-align: center;
        font-size: 14px;
    }

    .headerBtn {
        margin: auto;
    }

}