.parentContainer {
    color: var(--homeTertiaryClr);
}

.singleTimelineContainer {
    position: relative;
    padding-left: 8px;
    height: 130px;
    max-width: 350px;
}

.singleTimelineContainer::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--homePrimaryClr);
    border: 2px solid var(--homeMainBtn);
    top: 2px;
    left: -1px;
}

.singleTimelineContainer::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 0%;
    background: var(--homeMainBtn);
    top: 12px;
    left: 4px;
}

/* animation effect on line */
.animate .singleTimelineContainer:nth-child(1)::after {
    animation: lineAnimation 1s forwards;
}

.animate .singleTimelineContainer:nth-child(2)::after {
    animation: lineAnimation 1s 1s forwards;
}

.animate .singleTimelineContainer:nth-child(3)::after {
    animation: lineAnimation 2s 2s forwards;
}

/* animation effect on dot */
.animate .singleTimelineContainer:nth-child(1)::before {
    animation: dotAnimation .1s forwards;
}

.animate .singleTimelineContainer:nth-child(2)::before {
    animation: dotAnimation .1s 1s forwards;
}

.animate .singleTimelineContainer:nth-child(3)::before {
    animation: dotAnimation .1s 2s forwards;
}

.animate .singleTimelineContainer:nth-child(4)::before {
    animation: dotAnimation .1s 2.8s forwards;
}



/* last element effect */
.singleTimelineContainer:nth-child(4) .timelineItem:hover {
    background: #F5FFF7;
}

.singleTimelineContainer:nth-child(4)::after {
    height: 0px;
}

.timelineItem {
    margin-left: 20px;
    background: #F5FFF7;
    box-shadow: 0px 4px 5.8px #8fad9225;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    /* width: 300px; */
    width: 100%;
    cursor: pointer;
    opacity: 0;

}

/* timeline item animations */
.animate .singleTimelineContainer:nth-child(1) .timelineItem {
    animation: timelineItemAnimation 1s .7s forwards;
}

.animate .singleTimelineContainer:nth-child(2) .timelineItem {
    animation: timelineItemAnimation 1s 1.4s forwards;
}

.animate .singleTimelineContainer:nth-child(3) .timelineItem {
    animation: timelineItemAnimation 1s 2.1s forwards;
}

.animate .singleTimelineContainer:nth-child(4) .timelineItem {
    animation: timelineItemAnimation 1s 2.8s forwards;
}

.singleTimelineContainer:nth-child(4) .timelineItem {
    box-shadow: none;
    background: none;
    padding: 0px;
}

.timelineItem:hover {

    color: var(--homePrimaryClr);
    background: var(--homeTertiaryClr);
    transition: .3s;
}

.timelineItemContent h3 {
    color: var(--blackClr);
    font-size: 16px;
    font-weight: 600;
}

.timelineItem:hover .timelineItemContent h3 {
    color: var(--homePrimaryClr);
}


.timelineItemContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gearIcon {
    width: 48px;
    height: 48px;
}


/* animation  */
@keyframes lineAnimation {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

/* dot animation */
@keyframes dotAnimation {
    0% {
        background: var(--homePrimaryClr);
    }

    100% {
        background: var(--homeMainBtn);
    }
}

/* timelineItem animation */
@keyframes timelineItemAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* media queries */
@media screen and (max-width:1280px) {
    .singleTimelineContainer::before {
        /* left: -1px; */
    }
}


@media screen and (max-width:768px) {
    .parentContainer {
        width: 93%;
        max-width: 500px;
        margin-left: 1px;
    }

    .singleTimelineContainer {
        max-width: 100%;
        height: 108px;
    }

    .timelineItem {
        width: 100%;
    }
}


@media screen and (max-width:425px) {

    .singleTimelineContainer {
        max-width: 100%;
        height: 120px;
    }

    .singleTimelineContainer:nth-child(4) {
        height: 56px;
    }

    .singleTimelineContainer:nth-child(4) .timelineItem {
        box-shadow: none;
        background: none;
        padding: 0px;
    }
}