.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.stepsPercentage {
    position: relative;
    height: 6px;
    width: 90%;
    background: var(--homeTertiaryClr);
    border-radius: 50px;
}

.realPercentage {
    position: absolute;
    background: var(--homeCardGradient);
    height: 100%;
    border-radius: 50px;
    transition: var(--transition);
}

.stepCounter {
    font-size: 14px;
    width: 70px;
    color: var(--homeMainBtn);
}

.backBtn {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: var(--transition);
    color: var(--homeMainBtn);
}