.container {
    width: 100%;
    height: calc(100% - 200px);
    margin: 32px auto;
    /* height: 1500px; */
    display: flex;
    gap: 24px;
    flex-direction: column;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 8px;
    /* background: black; */

}

.h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--homeTertiaryClr);
}

.imageUploader {
    border-radius: 8px;
    /* overflow: hidden; */
}

@media screen and (max-width:900px) {
    .container {
        width: calc(100% - 64px);
        margin: 32px auto;
    }
}

@media screen and (max-width:658px) {
    .container {
        width: calc(100% - 32px);
        margin: 16px auto;
    }
}