.parentContainer {
    /* padding: 16px; */
    background: var(--homePrimaryClr);
    color: var(--homeMainBtn);

    width: 150px;
    border-radius: 5px;
    /* border: 1px solid var(--homeMainBtn); */
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.heading {
    font-weight: 600;
    font-size: 14px;
}