.parentContainer {
    padding: 2em;
    background: var(--homeMainBtn);
    color: var(--homePrimaryClr);

    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--homeMainBtn);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.heading {
    font-weight: 600;
    font-size: 14px;
}