.container {
    margin: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
    margin: 64px auto;
}

.heading {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    color: var(--homeTertiaryClr);
}

.logo {
    width: 56px;
    height: 56px;
    text-align: center;
    display: flex;
    align-self: center;
    display: block;
    margin: auto;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.formContainer input {
    width: 100%;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.genderInputContainer {
    display: flex;
    justify-content: left;
    width: 100%;
}

.genderInput {
    display: flex;
    gap: 5px;
    background: var(--homePrimamryClr);
    padding: 8px;
    border-radius: 4px;
    color: var(--homeTertiaryClr);
    border: 2px solid var(--homeMainBtn);
}

.genderInput input {
    position: relative;
    cursor: pointer;
}

.genderInput label {
    cursor: pointer;
}

.genderInput input::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--homeSecondryClr);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--homeMainBtn);
}

.genderInput input::after {
    position: absolute;
    content: '';
    background: var(--homeMainBtn);
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    border-radius: 50px;
}

.genderInput input:checked::after {
    transform: scale(1) translate(-50%, -50%);
}


.submitBtn {
    background: var(--homeMainBtn);
    padding: 8px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 20px;
    color: var(--homePrimaryClr);
    cursor: pointer;
    transition: var(--transition);
}

.submitBtn:hover {
    background: var(--homeCardGradient);
}

.borderBottom {
    width: 100%;
    height: 1px;
    background: var(--ratingClr);
    opacity: .3;
}

.googleBtn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 4px;
    font-size: 20px;
    gap: 12px;
    cursor: pointer;
    color: var(--homeTertiaryClr);
}

.terms {
    font-size: 13px;
    text-align: center;
    color: var(--homeTertiaryClr);
}

.terms a {
    color: var(--homeTertiaryClr);
}

.link {
    color: var(--homeTertiaryClr);
    text-align: center;
    font-size: 14px;
}


@media screen and (max-width:768px) {
    .container {
        margin: 16px auto;
        padding: 14px;
    }

    .heading {
        font-size: 24px;
    }

    .logo {
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width:460px) {
    .container {
        width: 100%;
        padding: 14px;
    }

    .heading {
        font-size: 20px;
    }
}