.categories {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.promptBtns {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.btns {
    display: flex;
    gap: 20px;
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.promptStateBtn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.promptStateBtn li {
    position: relative;
    list-style: none;
    cursor: pointer;
    color: var(--textClr);
    font-size: 14;
    transition: var(--transition);
}

.active {
    position: absolute;
    top: -9px;
    left: -6px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: var(--buttonGradientHover);
    z-index: -1;
    transition: var(--transition);
    opacity: 1;
}

.inActive {
    position: absolute;
    top: -2px;
    left: -6px;
    width: 0px;
    height: 0px;
    border-radius: 50px;
    background: transparent;
    z-index: -1;
    transition: var(--transition);
}

.sellerPrompt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.createPrompt {
    color: var(--textClr);
    text-decoration: none;
    background: var(--buttonGradientHover);
    padding: 8px 16px;
}

/* ....................analytics tab............... */
/* userStats */
.userStats {
    display: flex;
    font-size: 12px;
    gap: 24px;
    align-items: center;
}

.stats,
.successBadge,
.profileSubDetails {
    display: flex;
    gap: 4px;
    align-items: center;
}


.successBadge {
    color: #0e6245;
    background-color: #cbf4c9;
    padding: 4px 8px;
    border-radius: 4px;
}

.profileSubDetail {
    font-size: 14px;
}

/* models wrapper */
.modelsWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* single model */
.singleModel {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--cardHoverClr);
    padding: 2px 4px;
    border-radius: 4px;
    justify-content: center;
}

/* profile reviews */
.profileReviews {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 16px;
}

/* rating container */
.ratingContainer {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.starsContainer {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 16px;
}

.reviewCount span {
    border-bottom: 1px solid var(--textClr);
}

/* followers container */
.numFollows {
    font-weight: 600;
}

.numFollows span {
    opacity: .7;
    font-weight: normal;
}

.graph {
    width: 20%;
    height: 20%;
    margin: auto;
}


/* media quries */
@media screen and (max-width:720px) {
    .btns {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:440px) {
    .btns {
        gap: 4px;
    }

    .btns button {
        width: 100%;
    }

    .promptBtns {
        flex-direction: column;
    }

    .createPrompt {
        text-align: center;
    }
}