.promptCardContainer {
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    height: 140px;
    position: relative;
    cursor: pointer;
    color: var(--textClr);
    transition: 1s ease-in-out;
    display: inline-block;
}

.promptCardContainer img {
    width: 100%;
    height: 100%;
}

.promptCardContainer:hover {
    transform: translateY(-4px);
}

.image {
    border-radius: 5px;
    z-index: 1;
}

.label {
    position: absolute;
    top: -120px;
    left: 0px;
    background-color: var(--primaryClr);
    z-index: 100;
    opacity: .7px;
    border-bottom-right-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    color: var(--textClr);
}

.bottomText {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.767);
}

.title {
    font-weight: 500;
    font-size: 14px;
}

.infoText {
    font-size: 14px;
}

/* media queries */
@media screen and (max-width:880px) {
    .promptCardContainer {
        width: 180px;
        height: 120px;
    }

    .label {
        top: -93px;
    }
}